<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mes.mapper.HardworkMapper">
    <select id="selectAll" resultType="com.example.mes.pojo.Hardwork">
        select id,device_name,type,spec,status,update_time,create_time from hardwork
    </select>
        <delete id="deleteById" >
            delete from user where id = #{id}
        </delete>
    <insert id="add">
        insert into hardwork values(#{id},#{deviceName},#{type},#{spec},#{status},#{updateTime},#{createTime})
    </insert>

    <select id="selectBySome" resultType="com.example.mes.pojo.Hardwork">
        select * from hardwork
        <where>
            <if test="id != null and id != ''" >
                and (id like #{id}) or (device_name like #{id})
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

</mapper>