<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mes.mapper.HardwareMapper">
    <select id="selectAll" resultType="com.example.mes.pojo.Hardware">
        select id,device_name,type,spec,status,update_time,create_time from hardware
    </select>
    <delete id="deleteById" >
        delete from hardware where id = #{id}
    </delete>
    <insert id="add">
        insert into hardware values(#{id},#{deviceName},#{type},#{spec},#{status},#{updateTime},#{createTime})
    </insert>

    <select id="selectBySome" resultType="com.example.mes.pojo.Hardware">
        select * from hardware
        <where>
            <if test="id != null and id != ''" >
                and (id like #{id} or device_name like #{id})
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>